//SASS variables
$body-bg-color: #d3d3d3;
$body-color: black;
$progress-bar-bg-color: #3e3aa0;
$span-color: #6e6e6e;

$video-shadow-color: grey;
$video-controls-bg-color: black;
$timestamp-bar-bg-color: grey;
//CSS variables

:root {
    --body-bg-color:#{$body-bg-color};
    --body-color:#{$body-color};
    --progress-bar-bg-color:#{$progress-bar-bg-color};
    --span-color:#{$span-color};

    --video-shadow-color:#{$video-shadow-color};
    --video-controls-bg-color:#{$video-controls-bg-color};
    --timestamp-bar-bg-color:#{$timestamp-bar-bg-color};
}

//Dark theme
@media (prefers-color-scheme: dark) {
    //SASS variables
    $body-bg-color: #3c3c3c;
    $body-color: white;
    $span-color: #979a9a;

    //CSS variables
    :root {
        --body-bg-color:#{$body-bg-color};
        --body-color:#{$body-color};
        --span-color:#{$span-color};
    }
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-weight: 300;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




@mixin center-flex($gap: 0px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin center-flex-column($gap: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin controls-style {
    background: none;
    color: white;
    margin: 2px;
    border: none;

    &:hover {
        color: rgb(236, 236, 236);
        cursor: pointer;
        outline: 1px solid white;
    }

    &:active {
        cursor: pointer;
    }
}

//Maps
$breakpoints: (
    mobile: 768px,
    tablet: 992px,
    laptop: 993px,
    desktop: 1150px,
);


//Mixin
@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin laptop-only {
    @media screen and (min-width: map-get($breakpoints, laptop)) and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

//Keyframes
@keyframes loadingVideoSkeleton {
    from {
        background-color: rgb(174, 174, 174);
    }

    to {
        background-color: rgba(174, 174, 174, 0.3);
    }
}

//SASS Styles
.main {
    transition:
        background-color 350ms ease-out,
        color 350ms ease-out;
    background-color: var(--body-bg-color);
    @include center-flex-column;
    height: 100vh;
    width: 100vw;
    color: var(--body-color);


    &__title {
        margin-bottom: 50px;
        font-weight: lighter;
    }

    &__span {
        color: var(--span-color);
        font-weight: bold;
    }

    &__video {
        overflow: hidden;

        @include mobile-only {
            width: 95vw;
        }

        width: 100%;
        box-shadow: 0 5px 10px var(--video-shadow-color); //video-shadow-color grey
    }

    &__video-container {
        position: relative;
        overflow: hidden;
        @include center-flex();
        width: 75vw;

        @include mobile-only {
            width: 95vw;
        }

        animation-name: loadingVideoSkeleton;
        animation-duration: 650ms;
        animation-timing-function: ease-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        &:hover .video-controls {
            transform: translateY(15%);
        }

        &:fullscreen {
            animation-duration: 0ms;
            width: 100vw;
            height: 100vh;
            background-color: black;
            cursor: none;
        }
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}

.video-controls {
    background-color: var(--video-controls-bg-color); //video-controls-bg-color black
    @include center-flex-column;
    position: absolute;
    overflow-x: hidden;
    transition: transform 500ms ease-in-out;
    transform: translateY(100%);
    bottom: 4px;
    width: 100%;



    &__play-buttons {
        margin-left: 10px
    }


    &__pause-button {
        @include controls-style;
    }

    &__resume-button {
        @include controls-style;


    }

    &__volume-button {
        @include controls-style;

    }

    &__mute-button {
        @include controls-style;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__video-timestamp-bar {
        &-progress {
            width: 100%;
            background-color: var(--progress-bar-bg-color);
            @include center-flex;
            height: 5px;
            transform: scaleX(0%);
            transform-origin: left;
        }

        background-color: var(--timestamp-bar-bg-color); //timestamp-bar-bg-color: grey
        height: 100%;
        width: 100%;
        transform: scaleX(100%);
        transform-origin: left;


    }

    &__video-timestamp {
        @include controls-style;
        font-variant-numeric: tabular-nums;
    }

    // &__video-bar {
    //     width: 100%;
    //     color: red;
    //     background-color: red;
    // }

    &__volume-container {
        display: flex;
        align-items: center;
    }

    &__volume-button {
        @include controls-style;
    }

    &__volume-bar {
        height: 4px;

        @include mobile-only {
            width: 70px;
            margin-left: 5px;
        }
    }

    &__fullscreen-container {
        margin-right: 10px;
    }

    &__enter-fullscreen-button {
        @include controls-style;

    }

    &__exit-fullscreen-button {
        @include controls-style;

    }
}